@font-face {
font-family: rajdhaniRegular;
  src: url('Fonts/Rajdhani/Rajdhani-Regular.ttf');
}

 body {
  padding: 0px;
  margin: 0px;
  background-image: url('../Images/Background2.jpg');
  color: white;
}


.heading {
  font-family: rajdhaniRegular;
  font-weight: bolder;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.table img {
  height: 500px;
  width: auto;

}

.table th {
  text-align: center;
  font-family: rajdhaniRegular;
  text-align: inherit;
}

#navbar {
padding: 0px;
  margin: 0px;
  height: 80px;
  width: 100%;
  background-color: #121212;

}
.nav-list {
  position: absolute;
}
.nav-item {
  padding: 20px;
  display: inline-block;
}
.nav-item:hover {
  transition: .5s;
  border-bottom: 2px solid white;
}
.nav-link {
  color: #858585;
  font-size: 16px;
  font-family: rajdhaniRegular;
  text-decoration: none;
}
.nav-link:hover {
  color: lightgray;
  transition: .5s;
}
